.container {
  max-width: 600px;
  width: 400px;
  border: 1px solid transparent;

  & > *:not(:last-child) {
    margin-bottom: 40px;
  }

  button {
    border-radius: 10px;
    width: fit-content;
    margin: 0 auto;
  }
}
