.button {
  align-items: center;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  gap: 14px;
  line-height: 24px;
  padding: 16px 32px;
  white-space: nowrap;

  &:disabled {
    cursor: not-allowed;
  }
}

.switcher_btn {
  border: 0;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  text-align: center;

  &:disabled {
    color: var(--pixema-secondary-color);
    background: var(--pixema-disabled-bgcolor);
    cursor: not-allowed;

    &:hover {
      color: var(--pixema-secondary-color);
      background: var(--pixema-disabled-bgcolor);
    }
  }

  &:active {
    outline: none;
  }

  &:focus {
    outline: none;
  }
}

.icon {
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;

  > svg {
    height: 100%;
    width: 100%;
  }
}

.user {
  background-color: var(--pixema-primary-bgcolor);
}

.chevron {
  background-color: transparent;
  color: var(--pixema-primary-bgcolor);

  &:hover {
    fill: var(--pixema-primary-bgcolor);
  }
}

.burger {
  width: 46px;
  height: 46px;
  background: var(--pixema-primary-bgcolor);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    color: var(--pixema-secondary-color);
  }
}

.pagination {
  padding: 5px 20px;
  background: var(--pixema-secondary-bgcolor);
  color: var(--text-color);
  border-radius: 10px;

  &:hover {
    color: var(--pixema-primary-hover-bgcolor);
  }

  display: flex;
  flex-direction: row-reverse;
  gap: 5px;
}

.system {
  padding: 5px 10px;
  border-radius: 10px;
  background-color: var(--pixema-sign-backgroung-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;

  &:hover {
    background-color: var(--pixema-primary-hover-bgcolor);
  }

  &[data-open='false'] {
    background-color: var(--pixema-sign-backgroung-color);
    color: var(--pixema-disabled-bgcolor);
    width: 100%;
    border: 1px solid var(--pixema-disabled-bgcolor);
  }

  &[data-open='true'] {
    background-color: var(--pixema-disabled-bgcolor);
    color: var(--text-color);
    width: 100%;
    border: 1px solid var(--pixema-disabled-bgcolor);
  }
}

.primary {
  background-color: var(--pixema-primary-bgcolor);
  color: var(--pixema-text-color);

  &:hover:not(:disabled) {
    background-color: var(--pixema-primary-hover-bgcolor);
  }

  &:disabled {
    background-color: var(--pixema-disabled-color);
  }
}

.secondary {
  background-color: var(--pixema-secondary-bgcolor);
  color: var(--pixema-text-color);

  &:hover:not(:disabled) {
    color: var(--pixema-secondary-color);
  }
}
