.container {
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  transition: transform 300ms ease-in-out;
  border: 0;
  overflow: auto;

  a {
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    padding: 20px 32px;
    color: var(--pixema-disabled-bgcolor);

    svg {
      path {
        fill: var(--pixema-disabled-bgcolor);
      }
    }

    &.active {
      color: var(--pixema-primary-bgcolor);

      svg {
        path {
          fill: var(--pixema-primary-bgcolor);
        }
      }
    }

    &:hover:not(:disabled) {
      color: var(--pixema-primary-hover-bgcolor);

      svg {
        path {
          fill: var(--pixema-primary-hover-bgcolor);
        }
      }
    }
  }

  div:first-child {
    flex: 1;
  }

  div:last-child button {
    width: 100%;
  }

  &[data-open='true'] {
    transform: translateX(0);
  }

  .themeSwitcher {
    display: flex;
  }
}
