@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-reboot@4.5.6/reboot.min.css');

:root {
  --pixema-primary-bgcolor: #7b61ff;
  --pixema-primary-hover-bgcolor: #917cff;
  --pixema-secondary-bgcolor: #323537;
  --pixema-secondary-color: #afb2b6;
  --pixema-disabled-bgcolor: #80858b;
  --pixema-background-theme-color: #000000;
  --pixema-sign-backgroung-color: #242426;

  --pixema-navbar-height: 96px;
  --pixema-aside-menu-width: 25%;

  --pixema-text-color: white;
}

//nochanges
:root.light {
  --pixema-secondary-bgcolor: #8d8e97;
  --pixema-background-medium-color: #3a3838;
  --pixema-background-light-color: #4a4848;
  --pixema-background-extra-light-color: #5a5858;
  --pixema-text-color: white;
}

body {
  background-color: var(--pixema-background-theme-color);
  font-family: 'Exo 2';
  font-weight: 500;
  color: var(--pixema-text-color);
}
