.container {
  display: grid;
  grid-template:
    'image image image'
    'title title title';

  img {
    grid-area: image;
    height: 350px;
    width: 100%;
    object-fit: cover;
  }

  h3 {
    grid-area: title;
  }
}
